.image-preview img {



p>span {
    color: red;
}

#header span {
    color: pink;
}

span {
    color: green;
}

#header *:last-child {
    color: orange;
}

#header span:first-child:hover {
    color: blue;
}

table * {
    border: 1px solid black;


}

table, td, th {

    
    border-collapse: collapse;
    padding: 20px;
}